{% extends "layout/main.twig" %}

{% block main %}
<blockquote>
    "The world is not created of atoms and molecules, but of stories. Maybe I wanted to create a world. A new one... Where I, and we, could be happy and safe." ~ Anthony Martignetti
</blockquote>

<img src="/img/anthony.jpg" alt="Anthony" style="width:550px;"/>
    <p style="font-size: 0.9em;">photo by Vera Golosova</p>
<br />

<p>
    Amanda Palmer brought into a brighter light a great man. He influenced her life, her work, and her heart. We have since become acquainted with, befriended, interacted with, watched, read, listened to, and even met this unique human. Through her revolutionary music, her raw and open blogs, and her brave book, "The Art of Asking," she introduced us all to her Best Friend.
</p>

<p>
    This website was created for Dr. Anthony Martignetti, a brilliant and wise man, a husband, a friend, a psychotherapist, an author, a mentor, a guru, a leader, a warrior, an enlightened spirit, and a true patriarch to so many. It was developed and designed by not just one... but by many who admire and love him, to demonstrate to him and all of us, in the simplest way possible, that HOPE and the "Current of Living Energy" has REAL Power! It has the power to heal and to make miracles happen.
</p>

<p>
    Our friend Anthony is very sick. He has battled with leukemia for many years and is currently struggling with a second relapse after a bone marrow transplant. This worldwide map of connecting lines, messages of love, and Anthony’s heart… were born from a simple idea to visually and easily show him HOPE and how many of us he has inspired with his presence in this world. This is a way for us to infuse him with something other than chemo chemicals. It's a way to inject him with pure love and not just the onslaught of multiple medications. This is a place where we can come together as one welcoming and accepting tribe of love and compassion for him and for each other. Please tag your location on the map, comment and post beautiful personal stories, experiences, art, music, or words you’ve had with him. If you wish to share or reach out for support for your own situation or someone you love… do this as well. Help each other. Take care of one another. This is where we can bring together our prayers, our energies, our love, our hopes, our meditations, and our spirits. We can gather here as one to build the ultimate embrace in the only way we can from across the globe. This will be a Mecca of Hope and Healing centered around our dear friend Anthony and for all. This is an opportunity to give back to him all the love he has given to us. This is how we can help. This is us saying to Anthony and to one another... "We see you. We love you."
</p>

<p>
    This is his world. Our world. A new one. Where he, and we, can be happy and safe.
</p>

<p>Live to Love,</p>

<p>Heather Parrish</p>

<blockquote>
    "As far as I can tell, people get stuck together in this life. Sometimes it feels like love—and there's nothing more you can say." ~ Anthony Martignetti
</blockquote>

<p>
    If you’d like to send energy in the form of an email or if you need to reach out for any reason… please write to energyforanthony@gmail.com.
</p>
{% endblock %}
