{% extends "layout/main.twig" %}

{% block main %}
    <form class="form-inline" id="address_search">
        <div class="form-group">
            <label for="address">Search here for your address</label>
            <input type="text" class="form-control" name="address" id="address" />
        </div>
        <button class="btn btn-default" type="submit">Search</button>
    </form>
    <div id="results"></div>
    <hr />
    <form method="post" action="/manage/add">
        <fieldset title="Your location">
            <div class="form-group">
                <label for="lat">Latitude</label>
                <input type="text" class="form-control" name="lat" id="lat" />
            </div>
            <div class="form-group">
                <label for="lon">Longitude</label>
                <input type="text" class="form-control" name="lon" id="lon" />
            </div>
        </fieldset>
        <div class="form-group">
            <label for="name">Your name / nickname</label>
            <input type="text" class="form-control" name="name" id="name" />
        </div>
        <div class="form-group">
            <label for="message">Your message</label>
            <textarea name="message" class="form-control" id="message" rows="6"></textarea>
        </div>
        <div class="form-group">
            <label for="line_color">Line color</label>
            <select name="line_color" class="form-control" id="line_color">
                <option name="AliceBlue">AliceBlue</option>
                <option name="AntiqueWhite">AntiqueWhite</option>
                <option name="Aqua">Aqua</option>
                <option name="Aquamarine">Aquamarine</option>
                <option name="Azure">Azure</option>
                <option name="Beige">Beige</option>
                <option name="Bisque">Bisque</option>
                <option name="Black">Black</option>
                <option name="BlanchedAlmond">BlanchedAlmond</option>
                <option name="Blue">Blue</option>
                <option name="BlueViolet">BlueViolet</option>
                <option name="Brown">Brown</option>
                <option name="BurlyWood">BurlyWood</option>
                <option name="CadetBlue">CadetBlue</option>
                <option name="Chartreuse">Chartreuse</option>
                <option name="Chocolate">Chocolate</option>
                <option name="Coral">Coral</option>
                <option name="CornflowerBlue">CornflowerBlue</option>
                <option name="Cornsilk">Cornsilk</option>
                <option name="Crimson">Crimson</option>
                <option name="Cyan">Cyan</option>
                <option name="DarkBlue" selected="selected">DarkBlue</option>
                <option name="DarkCyan">DarkCyan</option>
                <option name="DarkGoldenrod">DarkGoldenrod</option>
                <option name="DarkGray">DarkGray</option>
                <option name="DarkGreen">DarkGreen</option>
                <option name="DarkKhaki">DarkKhaki</option>
                <option name="DarkMagenta">DarkMagenta</option>
                <option name="DarkOliveGreen">DarkOliveGreen</option>
                <option name="DarkOrange">DarkOrange</option>
                <option name="DarkOrchid">DarkOrchid</option>
                <option name="DarkRed">DarkRed</option>
                <option name="DarkSalmon">DarkSalmon</option>
                <option name="DarkSeaGreen">DarkSeaGreen</option>
                <option name="DarkSlateBlue">DarkSlateBlue</option>
                <option name="DarkSlateGray">DarkSlateGray</option>
                <option name="DarkTurquoise">DarkTurquoise</option>
                <option name="DarkViolet">DarkViolet</option>
                <option name="DeepPink">DeepPink</option>
                <option name="DeepSkyBlue">DeepSkyBlue</option>
                <option name="DimGray">DimGray</option>
                <option name="DodgerBlue">DodgerBlue</option>
                <option name="FireBrick">FireBrick</option>
                <option name="FloralWhite">FloralWhite</option>
                <option name="ForestGreen">ForestGreen</option>
                <option name="Fuchsia">Fuchsia</option>
                <option name="Gainsboro">Gainsboro</option>
                <option name="GhostWhite">GhostWhite</option>
                <option name="Gold">Gold</option>
                <option name="Goldenrod">Goldenrod</option>
                <option name="Gray">Gray</option>
                <option name="Green">Green</option>
                <option name="GreenYellow">GreenYellow</option>
                <option name="Honeydew">Honeydew</option>
                <option name="HotPink">HotPink</option>
                <option name="IndianRed">IndianRed</option>
                <option name="Indigo">Indigo</option>
                <option name="Ivory">Ivory</option>
                <option name="Khaki">Khaki</option>
                <option name="Lavender">Lavender</option>
                <option name="LavenderBlush">LavenderBlush</option>
                <option name="LawnGreen">LawnGreen</option>
                <option name="LemonChiffon">LemonChiffon</option>
                <option name="LightBlue">LightBlue</option>
                <option name="LightCoral">LightCoral</option>
                <option name="LightCyan">LightCyan</option>
                <option name="LightGoldenrodYellow">LightGoldenrodYellow</option>
                <option name="LightGreen">LightGreen</option>
                <option name="LightGrey">LightGrey</option>
                <option name="LightPink">LightPink</option>
                <option name="LightSalmon">LightSalmon</option>
                <option name="LightSeaGreen">LightSeaGreen</option>
                <option name="LightSkyBlue">LightSkyBlue</option>
                <option name="LightSlateGray">LightSlateGray</option>
                <option name="LightSteelBlue">LightSteelBlue</option>
                <option name="LightYellow">LightYellow</option>
                <option name="Lime">Lime</option>
                <option name="LimeGreen">LimeGreen</option>
                <option name="Linen">Linen</option>
                <option name="Magenta">Magenta</option>
                <option name="Maroon">Maroon</option>
                <option name="MediumAquamarine">MediumAquamarine</option>
                <option name="MediumBlue">MediumBlue</option>
                <option name="MediumOrchid">MediumOrchid</option>
                <option name="MediumPurple">MediumPurple</option>
                <option name="MediumSeaGreen">MediumSeaGreen</option>
                <option name="MediumSlateBlue">MediumSlateBlue</option>
                <option name="MediumSpringGreen">MediumSpringGreen</option>
                <option name="MediumTurquoise">MediumTurquoise</option>
                <option name="MediumVioletRed">MediumVioletRed</option>
                <option name="MidnightBlue">MidnightBlue</option>
                <option name="MintCream">MintCream</option>
                <option name="MistyRose">MistyRose</option>
                <option name="Moccasin">Moccasin</option>
                <option name="NavajoWhite">NavajoWhite</option>
                <option name="Navy">Navy</option>
                <option name="OldLace">OldLace</option>
                <option name="Olive">Olive</option>
                <option name="OliveDrab">OliveDrab</option>
                <option name="Orange">Orange</option>
                <option name="OrangeRed">OrangeRed</option>
                <option name="Orchid">Orchid</option>
                <option name="PaleGoldenrod">PaleGoldenrod</option>
                <option name="PaleGreen">PaleGreen</option>
                <option name="PaleTurquoise">PaleTurquoise</option>
                <option name="PaleVioletRed">PaleVioletRed</option>
                <option name="PapayaWhip">PapayaWhip</option>
                <option name="PeachPuff">PeachPuff</option>
                <option name="Peru">Peru</option>
                <option name="Pink">Pink</option>
                <option name="Plum">Plum</option>
                <option name="PowderBlue">PowderBlue</option>
                <option name="Purple">Purple</option>
                <option name="Red">Red</option>
                <option name="RosyBrown">RosyBrown</option>
                <option name="RoyalBlue">RoyalBlue</option>
                <option name="SaddleBrown">SaddleBrown</option>
                <option name="Salmon">Salmon</option>
                <option name="SandyBrown">SandyBrown</option>
                <option name="SeaGreen">SeaGreen</option>
                <option name="Seashell">Seashell</option>
                <option name="Sienna">Sienna</option>
                <option name="Silver">Silver</option>
                <option name="SkyBlue">SkyBlue</option>
                <option name="SlateBlue">SlateBlue</option>
                <option name="SlateGray">SlateGray</option>
                <option name="Snow">Snow</option>
                <option name="SpringGreen">SpringGreen</option>
                <option name="SteelBlue">SteelBlue</option>
                <option name="Tan">Tan</option>
                <option name="Teal">Teal</option>
                <option name="Thistle">Thistle</option>
                <option name="Tomato">Tomato</option>
                <option name="Turquoise">Turquoise</option>
                <option name="Violet">Violet</option>
                <option name="Wheat">Wheat</option>
                <option name="White">White</option>
                <option name="WhiteSmoke">WhiteSmoke</option>
                <option name="Yellow">Yellow</option>
                <option name="YellowGreen">YellowGreen</option>
            </select>
        </div>
        <div class="form-group">
            <label for="email">Your e-mailaddress (optional, required for later login)</label>
            <input type="text" class="form-control" name="email" id="email" />
        </div>
        <div class="form-group">
            <label for="password">Your password (optional, required for later login)</label>
            <input type="password" class="form-control" name="password" id="password" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" style="float: right">Share your energy!</button>
        </div>
    </form>

    <script type="text/javascript">
        $("#address_search").submit(function () {

            $.ajax({
                method: "POST",
                url: "/manage/api/address",
                data: { address: $('#address').val() }
            }).done(function( html ) {
                $( "#results" ).replaceWith( html );
            });

            return false;
        });
    </script>

{% endblock %}
